#bg {
    width: 100%;
    height: 100vh;
    background-image: url(./../../assets/glassesImage/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#model {
    position: relative;
}

#glassButton {
    position: absolute;
    width: 80%;
    bottom: 10%;
    left: 10%;
}

#glassTry {
    position: absolute;
    width: 10%;
    left: 16.2%;
    top: 12.5%;
}